.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.repo-card {
  border: 1px solid #aaa;
  margin: 15px;
  padding: 15px;
}

.left-nav {
  width: 30%;
  float: left;
}

.main {
  width: 70%;
}